body.dark-theme {
    --text-color: hsl(var(--hue), 12%, 92%);
    --text-color-light: hsl(var(--hue), 12%, 64%);
    --text-color-lighten: hsl(var(--hue), 12%, 16%);
    --body-color: hsl(var(--hue), 100%, 6%);
    --container-color: hsl(var(--hue), 24%, 12%);

    --primary-color-hover: hsl(var(--hue), var(--sat), calc(var(--lig) + 5%));
    --primary-color-pressed: hsl(var(--hue), var(--sat), calc(var(--lig) + 10%));
    --text-color-lighten-hover: hsl(var(--hue), 12%, 24%);

    .btn {
        &.btn-primary {
            --text-color: hsl(var(--hue), 8%, 16%);
            --text-color-light: hsl(var(--hue), 8%, 48%);
            --text-color-lighten: hsl(var(--hue), 8%, 92%);
            --text-color-lighten-hover: hsl(var(--hue), 8%, 95%);
        }
    }
}